@import url('/css/bootstrap4.css');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext');

$colorfont: #1f1f1f;

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    color: $colorfont;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: $colorfont;
    margin: 0;

    a {
        color: $colorfont;
        text-decoration: none !important;
        opacity: 1;
    }

}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}


.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}


button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

/* banner bg main start */

.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url('img/banner-bg.png');
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* header top section start */

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
    }

    li {
        float: left;
        font-size: 16px;
        color: #f1f1f1;
        padding: 6px 10px 0px 10px;

        a {
            color: #f1f1f1;

           
        }
        a:hover{
            color: #f26522;
        }
    }
}

/* logo */

.logo_section {
    width: 20%;
    float: left;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0px 0px;
    a{
        color: white;
    }
}

/* header */

.header_section {
    width: 100%;
    display: flex;
}

.containt_main {
    display: flex;
}

/* nav bar*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $colorfont;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        transition: 0.3s;

        :hover {
            color: #f26522;
        }

    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1199px) {
    .banner_bg_main {
        background-size: 100% 100%;
    }
    
    .header-search {
        padding: 15px 0px;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 360px;
    }

    #main_slider a.carousel-control-next {
        right: 40px;
        top: 110%;
    }

    #main_slider a.carousel-control-prev {
        left: 40px;
        top: 110%;
    }

    .electronic_img {
        margin: 20px 0px;
        min-height: 280px;
    }

    #electronic_main_slider a.carousel-control-next {
        right: 40px;
        top: 110%;
    }

    #electronic_main_slider a.carousel-control-prev {
        left: 40px;
        top: 110%;
    }

    .jewellery_img {
        margin: 20px 0px;
        min-height: 0;
    }

    #jewellery_main_slider a.carousel-control-prev {
        left: 40px;
        top: 70%;
    }

    #jewellery_main_slider a.carousel-control-next {
        right: 40px;
        top: 70%;
    }

    .input_bt {
        width: 80%;
    }
}

@media (max-width: 575px) {
    .banner_bg_main {
        background-size: cover;
    }
    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }
    .main {
        margin: 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }
    .nav-link {
        padding: .4rem 0px;
        color: #fff;
    }}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .header-search {
        padding: 15px 0px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .main {
        margin: 0px 0px 0px 0px;
    }
    .main {
        margin: 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
}

.toggle_icon {
    cursor: pointer;
    color: #ffffff;
    order: 2;
}

.header_box {
    order: 2;
    display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2;
}

.btn-secondary {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;

    :hover {
        color: #fff;
        background-color: #30302e;
        border-color: #30302e;
    }

    .dropdown-toggle:focus {
        box-shadow: none;
    }
}

/* search box start */

.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}

/* Bootstrap 4 text input  */

.has-search {
    .form-control {
        padding-left: 2.375rem;
    }

    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
}

.login_menu {
    display: flex;
    text-align: right;
    float: right;

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        float: left;
        font-size: 16px;
        color: #ffffff;
        text-transform: uppercase;
        padding-left: 10px;
        padding-top: 4px;

        a {
            color: #ffffff;

            :hover {
                color: #f26522;
            }
        }
    }
}

.padding_10 {
    padding-left: 10px;
}


/* banner */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;

    a {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #ffffff;
        background-color: #252525;
        text-align: center;
        padding: 10px 0px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;

        :hover {
            background-color: #f26522;
            color: #ffffff;
        }
    }
}

#my_slider {
    a.carousel-control-next {
        right: 0px;
        top: 40px;
    }

    a.carousel-control-prev {
        left: 0px;
        top: 40px;
    }

    .carousel-control-next {
        width: 45px;
        height: 45px;
        background: rgb(242, 222, 172, 0.80);
        opacity: 1;
        font-size: 20px;
        color: $colorfont;
        border-radius: 100px;
    }

    .carousel-control-prev {
        width: 45px;
        height: 45px;
        background: rgb(242, 222, 172, 0.80);
        opacity: 1;
        font-size: 20px;
        color: $colorfont;
        border-radius: 100px;
    }

}

/* fashion */

.fashion_section {
    width: 100%;
    float: left;
    padding-bottom: 150px;
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height:600px;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0px;
}

.tshirt_img {
    width: 100%;

    text-align: center;
    margin: 50px 0px;
    min-height: 370px;

    img{
        width: 100%;
        height: 300px;
    }
}

.btn_main {
    width: 100%;
    display: flex;
    
}

.buy_bt {
    float: left;
    width: 100%;

    a {
        width: 100%;
        font-size: 16px;
        color: #f26522;
        background-color: transparent;
        text-align: right;
        font-weight: bold;

        :hover {
            background-color: transparent;
            color: #262626;
        }
    }
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right;

    a {
        width: 100%;
        font-size: 16px;
        color: #262626;
        background-color: transparent;
        text-align: right;

        :hover {
            background-color: transparent;
            color: #f26522;
        }
    }
}

#main_slider {
    a.carousel-control-next {
        right: 615px;
        top: 105%;
    }

    a.carousel-control-prev {
        left: 615px;
        top: 105%;
    }

    .carousel-control-next {
        width: 55px;
        height: 55px;
        background-color: #30302e;
        opacity: 1;
        font-size: 30px;
        color: #ffffff;
    }

    .carousel-control-prev {
        width: 55px;
        height: 55px;
        background-color: #30302e;
        opacity: 1;
        font-size: 30px;
        color: #ffffff;
    }

    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        color: #fff;
        background-color: #f26522;
    }
}

/* electronic */

.electronic_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

#electronic_main_slider {
    a.carousel-control-next {
        right: 615px;
        top: 105%;
    }

    a.carousel-control-prev {
        left: 615px;
        top: 105%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 55px;
        height: 55px;
        background-color: #30302e;
        opacity: 1;
        font-size: 30px;
        color: #ffffff;
    }

    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        color: #fff;
        background-color: #f26522;
    }
}

/* jewellery */

.jewellery_section {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.jewellery_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 293px;
}

#jewellery_main_slider {
    a.carousel-control-next {
        right: 615px;
        top: 75%;
    }

    a.carousel-control-prev {
        left: 615px;
        top: 75%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 55px;
        height: 55px;
        background-color: #30302e;
        opacity: 1;
        font-size: 30px;
        color: #ffffff;
    }

    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        color: #fff;
        background-color: #f26522;
    }
}

/* loader bar  */

.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* footer  */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.footer_logo {
    width: 25%;
    text-align: center;
}

.input_bt {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ffffff !important;
}

.mail_bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
    height: 60px;
    border: 0px;
}

input.mail_bt::placeholder {
    color: #fff;
}

.subscribe_bt {
    width: 30%;
    float: right;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    padding: 20px 0px 5px 0px;
    border-radius: 30px;
    border: 0px;
    text-transform: uppercase;
    text-align: right;

    a {
        color: #f26522;

        :hover {
            color: #ffffff;
        }
    }
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;

        li {
            float: left;
            font-size: 16px;
            color: #f1f1f1;
            padding: 20px 10px 0px 10px;

            a {
                color: #f1f1f1;

                :hover {
                    color: #f26522;
                }
            }
        }

    }
}

.location_main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 30px 30px 30px;

    a {
        color: #ffffff;

        :hover {
            color: #f26522;
        }
    }

}